@import '../../styles/mixins.scss';

.cardNft {
  position: relative;
  box-shadow: var(--shadow);
  border-radius: var(--spacing-m);
  background-color: rgba(var(--color-light), 1);
  flex-basis: 100%;

  @include medium {
    flex-basis: 33%;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  position: relative;
  min-height: 270px;
  // margin: var(--spacing-s) 0 var(--spacing-xl);
  width: 100%;
  border-bottom: solid 2px rgba(var(--color-stable), 1); 
}

.body {
  display: flex;
  align-items: center;
  padding: var(--spacing-m);
}

.country {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border: solid 1px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.type, .name, .symbol {
  padding: 0 var(--spacing-s);
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 328px;
  width: 100%;
  max-width: 100%;
  border: dashed 2px rgba(var(--color-stable), 1);
  box-shadow: none; 
}