.cardNft {
  position: relative;
  max-width: 250px;
  padding: var(--spacing-m) var(--spacing-s);
  // border: solid 5px rgba(var(--color-light), 1); 
  box-shadow: var(--shadow);
  border-radius: var(--spacing-m);
  background-color: rgba(var(--color-light), 1);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  position: relative;
  min-height: 270px;
  margin: var(--spacing-s) 0 var(--spacing-xl);
  width: 100%;
  border: solid 2px rgba(var(--color-stable), 1); 
}

.country {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  margin-right: var(--spacing-s);
  overflow: hidden;
  border: solid 1px;
}

.type, .name, .symbol {
  padding: 0 var(--spacing-s);
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 328px;
  max-width: 100%;
  border: dashed 2px rgba(var(--color-stable), 1);
  box-shadow: none; 
}