.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--spacing-s) + 2px) var(--spacing-xl);
  // padding: calc(var(--spacing-s) + 2px) calc(var(--spacing-xxl) + 10px);
  border-radius: var(--spacing-xs);
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;

  &:hover {
    cursor: pointer;
    opacity: 0.75;
  }

  > p {
    line-height: 1;
  }
}

.link {
  background: none;
  border: none;
  padding: 0;
  color: rgba(var(--color-positive), 1);
  text-transform: none;
  padding-right: var(--spacing-s);
  font-weight: 500;
  letter-spacing: normal;
}

.active {
  // &.button {
  //   opacity: 0.5;
  // }
  border: solid 2px rgba(var(--color-energized), 1);
}

.outline {
  background: none;
  border: solid 2px rgba(var(--color-positive), 1);

  > p {
    color: rgba(var(--color-positive), 1);
  }

  &.active {
    background: rgba(var(--color-positive), 1);

    > p {
      color: rgba(var(--color-light), 1);
    }
  }
}

.filled {
  &.outline {
    background: none;
    border: solid 2px rgba(var(--color-balanced), 1);
  
    > p {
      color: rgba(var(--color-balanced), 1);
    }
    
    &.active {
      background: rgba(var(--color-balanced), 1);
  
      > p {
        color: rgba(var(--color-light), 1);
      }
    }
  }
}

.disabled {
  opacity: 0.75;
  pointer-events: none;
}