@import '../../styles/mixins.scss';

.table {
  width: 100%;
  border-collapse: collapse;

  th {
    display: none;
    font-weight: normal;
    padding-bottom: var(--spacing-m);
    
    @include medium {
      display: table-cell;
    }
  }

  
  tbody {
    box-shadow: 0 0 0 1px rgba(var(--color-stable), 1);
    border-radius: var(--radius-m);
  }

  td {
    width: 100%;
    @include medium {
      width: auto;
    }
  }

  tr {
    display: flex;
    flex-direction: column;

    @include medium {
      display: table-row;
    }
  }
}