@import '../../styles/mixins.scss';

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre;
}

.balance {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-xxl);
  width: 100%; 
 
  @include medium {
    max-width: 300px;
  }
}

.notConnected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 328px;
  max-width: 100%;
  border: dashed 2px rgba(var(--color-stable), 1);
  box-shadow: none;
  border-radius: var(--spacing-m);
  background-color: rgba(var(--color-light), 1);
  text-align: center;
}

.publicKey {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 6ch;
}

.grid {
  @include medium {
    display: flex;
    grid-gap: 60px;
  }
}

.collection {
  width: 100%;
}