@import '../../styles/mixins.scss';

.example {
  position: relative;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: var(--spacing-xxl);

  @include medium {
    flex-basis: 25%;
  }

  &:after {
    content: "\2192";
    font-size: 32px;
    position: absolute;
    bottom: -35px;
    transform: rotate(90deg);
    color: rgba(var(--color-dark), 1);

    @include medium {
      font-size: 40px;
      top: 50%;
      bottom: auto;
      right: -90px;
      transform: translateY(-50%);
    }
  }

  &:first-child {
    .iconWrapper {
      background-color: rgba(var(--color-energized), 0.2);
    }
  }

  &:last-child {
    .iconWrapper {
      background-color: rgba(var(--color-balanced), 0.2);
    }
    
    &:after {
      display: none;
    }
  }
}

.iconWrapper {
  border-radius: 100%;
  padding: var(--spacing-m);
  background-color: rgba(var(--color-positive), 0.2);
}