.collection {
  // background-color: rgba(var(--color-dark));
  // width: 100vw;
  // position: relative;
  // left: 50%;
  // right: 50%;
  // margin-left: -50vw;
  // margin-right: -50vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  width: 100%;
  max-width: var(--global-width);
  margin: 0 auto;
}
