@import '../../styles/mixins.scss';

.timeline {
  width: 100%;
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-l);

  @include xlarge {
    margin-top: 0;
    margin-bottom: var(--spacing-l);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    @include medium {
      justify-content: space-evenly;
    }
  } 
}

.item {
  display: flex;
  margin-right: var(--spacing-s);
  margin-bottom: var(--spacing-s);

  @include medium {
    margin-right: 0;
    margin-bottom: 0;
  }
}