.groups {
  position: relative;
  width: 100%;
  margin-top: 60px;

  // &.indicator {
  //   &:after {
  //     content: "→";
  //     position: absolute;
  //     top: 10px;
  //     right: 0;
  //     font-size: 24px;
  //     transition: 1s ease-in-out;
  //     opacity: 1;
  //     animation: fade 2s infinite;
  //   }
  // }
}

.group {
  display: flex;
  justify-content: space-between;
}

.tabs {
  ul {
    margin-bottom: 0;
  } 
}

.elementToFadeInAndOut {
  opacity: 1;
  animation: fade 2s linear;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}