.groups {
  position: relative;
  width: 100%;
  margin-top: 68px;
}

.group {
  display: flex;
  justify-content: space-between;
}

.tabs {
  ul {
    margin-bottom: 0;
  } 
}

.elementToFadeInAndOut {
  opacity: 1;
  animation: fade 2s linear;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}