.snackbar {
  display: flex;
  align-items: center;
  background-color: rgba(var(--color-light), 1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.title {
  margin-right: var(--spacing-m);
}

.icon {
  border: solid 2px rgba(var(--color-light), 1);
  border-radius: 100%;
  padding: 2px;
  margin-right: var(--spacing-xs);
}