.row {
  td {
    padding: var(--spacing-l) var(--spacing-xl);
    border-bottom: solid 1px rgba(var(--color-stable), 1);
  }

  &:last-child {
    td {
      border-bottom: none;
    }
  }
}

.dateWrapper {
  display: flex;
  align-items: center;
}

.playTime {
  margin-bottom: var(--spacing-xs);
}

.match {
  position: relative;
  .inputMatch {
    border: none;
    padding: var(--spacing-s);
    max-width: 40px;
    border-radius: var(--radius-s);
    text-align: center;
    font-weight: bold;
    background-color: #f6f6f6;
    font-size: var(--font-s);

    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-left: var(--spacing-l);
    }

    &:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-right: var(--spacing-l);
    }

    &:focus {
      outline: none;
    }
  }

  &:focus {
    outline: auto;
  }

  &:after {
    content: ':';
    position: absolute;
    top: 32px;
    right: 50%;
    transform: translateX(50%);
    font-weight: bold;
  }
}

.matchWrapper {
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.matchResult {
  display: flex;
  input {
    border: none;
    padding: var(--spacing-s);
    max-width: 40px;
    border-radius: var(--radius-s);
    text-align: center;
    font-weight: bold;
    background-color: #f6f6f6;
    font-size: var(--font-s);

    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-left: var(--spacing-l);
    }

    &:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-right: var(--spacing-l);
    }

    &:focus {
      outline: none;
    }
  }

  &:focus {
    outline: auto;
  }

  input {
    background-color: transparent;
  }
}

.matchPrediction {
  display: flex;
}

.country {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--color-stable-500), 0.1);
  color: rgba(var(--color-dark), 1);
  padding: var(--spacing-s);
  border-radius: var(--radius-m);
  width: 38px;
  height: 38px;

  &:first-of-type {
    margin-right: var(--spacing-m);
  }

  &:last-of-type {
    margin-left: var(--spacing-m);
  }
}

.groupWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;

  > p {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-m);
    padding: var(--spacing-l);
  }
}

.statusWrapper {
  display: flex;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: rgba(var(--color-balanced), 0.1);
  width: 40px;
  height: 40px;
}

.points {
  > p {
    font-weight: bold;
  }
}

.win {
  background: rgba(var(--color-balanced), 0.1);
  color: rgba(var(--color-balanced), 1);
}

.lose {
  background: rgba(var(--color-assertive), 0.1);
  color: rgba(var(--color-assertive), 1);
}

.results {
  .icon {
    background-color: rgba(var(--color-assertive), 0.1);
  }
}

.correct {
  .icon {
    background-color: rgba(var(--color-balanced), 0.1);
  }
}

.perfect {
  .icon {
    background-color: rgba(var(--color-balanced), 0.1);
  }
}

.blank {
  .icon {
    background-color: rgba(var(--color-stable), 0.5);
  }
}

.filledA {
  .matchPrediction {
    input {
      &:first-child {
        background-color: #e7f0fe;
      }
    }
  }
}

.filledB {
  .matchPrediction {
    input {
      &:last-child {
        background-color: #e7f0fe;
      }
    }
  }
}

.customIconEN svg {
  width: 24px !important;
  height: 24px !important;
  
  rect {
    stroke: #eeeeee;
  }
}

.customIcon svg {
  width: 24px !important;
  height: 24px !important;
}

.disabled {
  opacity: 0.75;
}
