.wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: var(--spacing-l);
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing-l);
}

.groups {
  display: flex;
  flex-basis: 40%;
}