@import '../styles/mixins.scss';

.gridWrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  border-radius: var(--radius-m);
  padding: var(--spacing-xxl) 0;
  min-height: 400px;
  width: 100%;
  gap: 20px;

  @include medium {
    padding: var(--spacing-xxl);
  }
}

.groupsWrapper {
  display: flex;
  border-radius: 10px;
  height: 100%;
  width: 100%;

  @include xlarge {
    width: auto;
    max-width: 30%;
  }
}

.timelineWrapper {
  display: flex;
  flex-basis: 100%;
}

.tableWrapper {
  flex: 1;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.rulesWrapper {
  display: flex;
  flex-wrap: wrap;
}

.examples {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profileWrapper {
  display: flex;
}

.submitWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  @include medium {

  }
}

.selectWrapper {
  display: flex;
}

.select {
  min-width: 150px;
  margin-right: 0;
  margin-bottom: var(--spacing-s);

  @include medium {
    margin-bottom: 0;
    margin-right: var(--spacing-m);
  }
}

.submitted {
  display: flex;
  align-items: center;
}

.submittedIcon {
  border: dashed 2px rgba(var(--color-balanced), 1);
  padding: var(--spacing-xs);
  border-radius: 100%;
}

.legal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: var(--spacing-m);

  input {
    margin-right: var(--spacing-s);
  }
}

.helioButton {
  display: flex;
  align-items: baseline;
  margin-top: var(--spacing-m);
  button {  
    padding: calc(var(--spacing-s) + 2px) var(--spacing-xl) !important;
    font-size: var(--font-xxs) !important;
    max-height: 36px !important;   
  }
}

.or {
  margin: 0 var(--spacing-m)
}