@import '../styles/mixins.scss';

.leaderboard {
  max-width: 800px;
  margin: 0 auto;
}

.winners {
  display: flex;
  justify-content: space-around;
  margin: var(--spacing-xl) 0;
  flex-direction: column;
  @include small {
    flex-direction: row;
  }
}


.winner {
  margin-bottom: var(--spacing-l);
  @include small {
    margin-bottom: 0; 
    
    &:nth-child(2) {
      order: -1;
    }
  } 
}